  
<div id="course-container">
  <h1>Kurslista</h1>

  <!--Etikett för sökfältet-->
  <label for="searchInput">Sök:</label>

  <!-- Sökfält med tvåvägsdatabindning för att filtrera kurslistan -->
  <input type="text" [(ngModel)]="searchText" (input)="filterCourses()" placeholder="Sök efter kurskod eller kursnamn" />

<!--Tabell för att visa kurser-->
<div id="table-container">
<table>
    <thead>
      <tr>

        <!-- Eventbinding, anropar den specifika metoden med ett klick -->
        <th (click)="setSortField('code')">Kurskod</th>
        <th (click)="setSortField('coursename')">Kursnamn</th>
        <th (click)="setSortField('progression')">Progression</th>
        <th>Kursplan</th>
      </tr>
    </thead>
    <tbody>
        <!--iteterar över varje kurs med *ngFor i filteredCourses-arrayen-->
        <tr *ngFor="let course of filteredCourses">
        <!--Visar datan för den aktuella kursen-->
          <td>{{ course.code }}</td>
          <td>{{ course.coursename }}</td>
          <td>{{ course.progression }}</td>
          <td><a [href]="course.syllabus" target="_blank">Kursplan</a></td> <!-- Länk till kursplanen -->
        </tr>
      </tbody>
  </table>
</div>
</div>